@use '../abstracts' as abs;

button {
    overflow: visible;
    border: 0;
    font: inherit;
    letter-spacing: inherit;
    background: none;
    cursor: pointer;
    padding: 0;
}

.button {
    cursor: pointer;
    color: var(--white);
    background: var(--secondary);
    padding: 0.5em 1em;
    font-weight: bold;
    border-radius: 0.5em;
    margin-left: 1em;
}

.button[disabled] {
    color: var(--grey-300);
    background: var(--grey-600);
    cursor: default;
}



