//Need to do a mixin to this perhaps??
//Or a function that contorls the directional params
.dropdown-container {
    &:hover .dropdown {
        display: block;
    }
}

.dropdown {
    display: none;
    position: absolute;
    border: 1px solid var(--grey-200);
    background: var(--white);
    border-radius: 0.5em;
    width: 15em;
    z-index: 99;
    top: 2em;

    &__logout {
        @extend .dropdown;
        top: 7em;
        margin-left:1em;
        width: 10em;
    }

    &__option {
        display: flex;
        cursor: pointer;
        padding: 0.5em;
        align-items: center;
        width:100%;

        &:hover {
            background: var(--grey-200);
            color: var(--black);
            border-radius: 0.5em;
        }
    }

    &-container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content:center;
    }
}

nav{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: stretch;
    height: 100%;
    max-width: 15em;
    position: relative;
    opacity: 100%;

    &:hover .dropdown {
        display: block;
    }
}

