@use '../abstracts' as abs;

.white {
    color: var(--white) !important;
}

.red {
    color: red !important;
}

.material-icons {
    font-size: 1.5em;
    color: var(--secondary);
}

.large-icon {
    font-size: 2em;
}

.color-inverse {
    color: abs.$white !important;
}

.color-error {
    color: red !important;
}

.input-icon-prefix {
    background: var(--white);
    height: 2em;
    padding: 0.5em;
    border-radius: 0.5em 0em 0em 0.5em;
    border: solid 1px var(--grey-200);
}



