.blazored-prompt-modal {
    background: var(--white);
    padding: 2rem;
    border-radius: 1em;
    width: calc(100% - 4rem);
    max-height: calc(100% - 4rem);
    max-width: 64rem;
    overflow-y: auto;
    z-index: 102;

    //Disable default header
    .blazored-modal-header {
        display:none;
    }
}

.blazored-confirm-modal {
    background: var(--white);
    padding: 2rem;
    border-radius: 1em;
    width: calc(100% - 4rem);
    max-height: calc(100% - 4rem);
    max-width: 32rem;
    overflow-y: auto;
    z-index: 102;

    //Disable default header
    .blazored-modal-header {
        display: none;
    }
}

.modal_header {
    display: flex;
    flex-direction: column;
    margin: 1em;

    .header-text {
        font-size: 1.6em;
        font-weight: 700;
    }

    .header-subtext {
    }
}

.modal_footer {
    margin-top: 2em;
    display: flex;
    justify-content: end;
}