//CSS Resets so we start with a fresh page with hidden margins and behaviours
@use '../abstracts' as abs;

//0. Root Styling::after
#root {
    margin: 0 auto;
    text-align: center;
    min-height:100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    
}

// 1. Use a more-intuitive box-sizing model
*, *::before, *::after {
    box-sizing: border-box;
}
// 2. Remove default margins
* {
    margin: 0;
    padding: 0;
}
// 3. Enable keyword animations
@media (prefers-reduced-motion: no-preference) {
/*    html {
        interpolate-size: allow-keywords;
    }*/
}

body {
    // 4. Add accessible line-height
    line-height: 1.5;
    // 5. Improve text rendering
    -webkit-font-smoothing: antialiased;
}
// 6. Improve media defaults 
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
// 7. Inherit fonts for form controls
input, button, textarea, select {
    font: inherit;
}

// 8. Create a root stacking context
#root, #__next {
    isolation: isolate;
}

.app-layout {
    display: flex;
    flex-direction: column;
}

.container {
    padding: 1em;
}